[submodule "UBOS-template-AI-Bot-Custom-GPT-ui"]
	path = UBOS-template-AI-Bot-Custom-GPT-ui
	url = https://github.com/UBOS-Asset-Store/UBOS-template-AI-Bot-Custom-GPT-ui.git
	branch = main
[submodule "UBOS-template-AI-Bot-Custom-GPT-nr"]
	path = UBOS-template-AI-Bot-Custom-GPT-nr
	url = https://github.com/UBOS-Asset-Store/UBOS-template-AI-Bot-Custom-GPT-nr.git
	branch = main
